@model LojaVirtual.Models.Product
<html>
<body>
    <h3>
        Hello World of Products :)
    </h3>
    <br />
    @Model.Nome
    <br />
    @Model.Descricao
    <br />
    @Model.Valor
    <br />
    @Model.Id
    <br />
</body>
</html>